.MuiTypography-body1 {
    color: #124258;
}

.price-box {
    border: 1px solid #E6ECEF;
    box-sizing: border-box;
    border-radius: 8px;
    width: 224px;
    height: 192px;
    color: #124258;
}

.price-title {
    background: #F6F8FA;
    border: 1px solid #E6ECEF;
    box-sizing: border-box;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 43px;
    text-align: left;
}

.price-title > span {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    padding: 8px 24px 24px;
}

.plan-price-box {
    padding: 8px 24px;
    text-align: left;
}

.price-val {
    font-size: 24px;
    line-height: 150%;
}

.data-not-included {
    font-size: 12px;
    line-height: 19px;
    width: fit-content;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 8px;
    background: rgba(18, 66, 88, 0.06);
    border: 1px solid rgba(18, 66, 88, 0.24);
    box-sizing: border-box;
    border-radius: 10px;
}

.payment-system {
    border: 1px solid #E6ECEF;
    box-sizing: border-box;
    border-radius: 8px;
    width: 268px;
    height: 108px;
}

.paysystem-title {
    padding: 22px 22px;
    display: flex;
    align-items: center;
}

.box-process {

}

.main-text {
    color: #0085F9;
}

.grey-text {
    color: #8DA2AC;
}

.pay-with {
    padding-left: 24px;
}
.checkboxes input[type="checkbox"] {
    opacity: 0;
}

.order-summary{
    width: 352px;
    height: 265px;
    background: #F6F8FA;
    border-radius: 8px;
}